/*修改密码*/
.personal-page .change-password {
	width: 650px;
	height: auto;
	display: none;
	min-height: 740px;
	margin: 0 auto;
	position: relative;
}
/*美化虫*/
.change-password .beautify-eight img {
	width: 500px;
}

.change-password h3 {
	font-size: 30px;
	width: 650px;
	margin: 0 -20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 19px;
	color: #404040;
}

/*.change-password .change-password-modification{*/
/*height:50px;*/
/*width:550px;*/
/*margin:0 auto;*/
/*margin-bottom:10px;*/
/*}*/
/*.change-password-modification div{*/
/*float:left;*/
/*}*/
/*.change-password-modification div p{*/
/*font-size:18px;*/
/*display: inline-block;*/
/*line-height: 50px;*/
/*}*/
/*.change-password-modification button{*/
/*width:150px;*/
/*height:30px;*/
/*float: right;*/
/*font-size:15px;*/
/*background:#0080FF;*/
/*border-radius: 3px;*/
/*color:#fff;*/
/*}*/
/*.change-password .spacing{*/
/*width:100%;*/
/*height:19px;*/
/*margin-top:100px;*/
/*background:#f7f7f7;*/
/*}*/
/*.change-password .bounces{*/
/*width:500px;*/
/*height:300px;*/
/*border:1px solid #ccc;*/
/*position:fixed;*/
/*top:50%;*/
/*left:50%;*/
/*margin-left:-250px;*/
/*margin-top:-150px;*/
/*overflow: hidden;*/
/*}*/
/*.bounces .bounces-top{*/
/*width:100%;*/
/*height:50px;*/
/*background:#0080FF;*/
/*}*/
/*.bounces .bounces-top .icon-close{*/
/*font-size:25px;*/
/*color:#fff;*/
/*position:absolute;*/
/*right:0;*/
/*top:0;*/
/*}*/
.change-password .tab-info {
	width: 550px;
	margin: 80px auto;
	margin-bottom: 40px;
}

.tab-info .tel_modify {
	height: 50px;
}

.tel_modify .left {
	font-size: 18px;
	text-align: right;
}

.tel_modify .modify_btn {
	width: 150px;
	height: 30px;
	background: #0080FF;
	color: #fff;
}

.tab-info {
	margin-left: 172px;
}

.tel_modify .Change-the-distance {
	margin-left: 170px;
	background: #4192ff;
	border-radius: 4px;
}

.public_table {
	width: 550px;
	text-align: center;
	margin: 0 172px;
}

.reservation-change {
	width: 92%;
	margin-left: 20px;
}

.public_tr {
	height: 70px;
	border-bottom: 1px solid #aaa;
}

/* .public_table tr:nth-child(even){
	background: #b6bbbb57;
}

.public_table tr:nth-child(odd){

} */
.public_th {
	height: 70px;
	/* background: #a2a2a28c; */
	border-bottom: 1px solid #aaa;
}

.public_th th {
	text-align: center;
	color: #828384;
	font-size: 16px;
	font-weight: 500;
}

/* 修改手机号 */
.modify_phone {
	margin: 10px 105px;
}

.modify_phone li {
	margin: 6px 0;
}

.modify_phone .phone_span {
	display: inherit;
}

.modify_phone input[type="text"] {
	width: 240px;
	height: 30px;
	padding: 0 8px;
	color: #aaa;
}

.phone_btn {
	width: 240px;
	height: 35px;
	border: 0;
	background: #03A9F4;
	color: #fff;
	transition: 1s;
	border-radius: 3px;
}

.phone_btn:HOVER {
	background: #057aaf;
}

/* 修改密码 */
.pass_h3 {
	font-size: 16px;
	margin: 17px 105px;
	color: #6d6d6d;
	border-bottom: 1px solid #aaa;
	padding: 10px 0;
}

.pass_ul {
	margin: 10px 108px;
}

.pass_ul li {
	margin: 10px 0;
}

.pass_ul .prompt_j {
	position: absolute;
	margin: 0 157px;
	font-size: 12px;
	width: 150px;
}

.pass_ul .prompt_n {
	position: absolute;
	margin: 0 157px;
	font-size: 12px;
	width: 150px;
}

.pass_ul input[type="text"], input[type="password"] {
	width: 235px;
	height: 30px;
	padding: 0 8px;
	font-size: 12px;
	color: #9E9E9E;
	border-radius: 3px;
	border: 1px solid;
	border: 1px solid #aaa;
}

.pass_ul input[type="button"] {
	width: 235px;
	border: 0;
	height: 35px;
	background: #03A9F4;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 18px 0 0 0;
	border-radius: 3px;
	transition: 1s;
}

.pass_ul input[type="button"]:HOVER {
	background: #037fb7;
}

.pass_span {
	display: -webkit-box;
	font-size: 12px;
	color: #808080;
}

/*  遮罩层 */
.dialog-mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s;
}

.dialog-parent {
	width: 450px;
	/*height: 500px;*/
	background-color: #f5f5f5;
	margin: 150px auto 0;
	border-radius: 6px;
	position: relative;
	padding: 0 0 20px 0;
}

.dialog-title h1 {
	margin: 0 0 20px 0;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	background-color: #03a9f4;
	border-radius: 6px 6px 0 0;
	color: white;
	padding-left: 10px;
}

.dialog-title .dialog-close {
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	cursor: pointer;
}

.dialog-child {
	display: none;
}

.code_btn {
	border: 0;
	background: #03A9F4;
	font-size: 12px;
	width: 105px;
	color: #fff;
	transition: 1s;
	height: 30px;
	margin: 6px 135px;
}

.code_btn:HOVER {
	background: #0576a9;
}

.tab-info .money {
	color: #ff5858;
	font-weight: bold;
}

.change-password .spacing {
	height: 20px;
	width: 100%;
	background: #f5f5f5
}

.change-password .tab-info .tel_modify .pass {
	margin: 0 0;
	padding: 15px 20px;
	width: 150px;
}