body {
	background: #f5f5f5;
}

.release-div-all {
	width: 1200px;
	margin: 50px auto;
	/*border: 1px solid #8b93a5;*/
	background: #fff;
	border-radius: 30px;
	padding: 1px;
	overflow: hidden;
	padding-bottom: 50px;
	-moz-box-shadow: 2px 2px 5px #333333;
	-webkit-box-shadow: 2px 2px 5px #333333;
	box-shadow: 2px 2px 5px #333333;
}

.release-header {
	width: 1000px;
	letter-spacing: 2px;
	margin: 10px auto;
	border-bottom: 1px solid #ccc;
	height: 60px;
}

.release-header h3 {
	line-height: 60px;
	font-size: 30px;
	font-weight: bold;
}

.release-content {
	width: 1000px;
	margin: 50px auto;
}

.release-div-all .release-content img {
	width: 300px;
	height: 300px;
}

.release-content ul {
	float: right;
	/*position: relative;
    top: -310px;*/
}

.release-content ul li {
	list-style: none;
	line-height: 40px;
	width: 665px;
	margin-top: -5px;
}

.release-content ul li .span-title {
	font-size: 18px;
	color: #000000;
	padding-right: 15px;
	font-weight: bold;
}

.release-content ul li:first-child {
	min-height: 100px;
}

.release-content ul li .span-content {
	color: #5d5d5d;
	font-size: 18px;
}

.release-content ul li .span-content-p {
	line-height: 30px;
	width: 665px;
	margin-top: 0;
	color: #3c3c3c;
	font-size: 20px;
}

.release-content ul li .response {
	width: 200px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	margin-top: 30px;
	background: #56a1ff;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	padding-left: 10px;
	transition: 0.3s;
}

.release-content ul li .response:HOVER {
	background: #307fe3;
}