/* cert */
.cert-img {
	text-align: center;
}

.cert-img img {
	width: 80px;
	height: 100px;
}

/* div按钮一行显示 */
.route-box {
	display: inline-block;
}

.common-nodata {
	text-align: center;
	line-height: 80px !important;
	font-size: 32px !important;
}